* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #222;
    font-family: sans-serif;
}

#cont-box div {
    font-weight: bold;
    color: black;
    margin: 0.5rem;
    padding: 1rem;
    width: calc(100% / 10 - 1rem);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bck-blu {
    background-color: rgb(39, 39, 175);

}

.bck-green {
    background-color: rgb(72, 190, 72);
}

.bck-yellow {
    background-color: rgb(255, 255, 158);
}

.bck-red {
    background-color: rgb(209, 68, 68);
}